[
    {
        "cron": "1 13 * * *",
        "message": "🤹 event 1",
        "modifier": "20250303>d/60"
    },
    {
        "cron": "2 13 * * *",
        "message": "🌊 event 2",
        "modifier": "20250303>w/2"
    },
    {
        "cron": "3 14 * * *",
        "message": "🛒 событие 3",
        "modifier": "20240301>d/3"
    },
    {
        "cron": "4 14 22 * *",
        "message": "🧺событие 4",
        "modifier": ""
    },
    {
        "cron": "5 14 * * *",
        "message": "📲 событие 5",
        "modifier": "20240301>d/9"
    },
    {
        "cron": "6 14 * * *",
        "message": "💊 тестовое событие",
        "modifier": "20240320>d/3"
    }
]