{
    "globals": {
        "timezone": "Europe/Moscow"
    },
    "schedules": [
        {
            "cron": "0 * * * *",
            "message": "Это сообщение отправляется каждый час."
        },
        {
            "cron": "0 6 * * *",
            "message": "Это сообщение отправляется каждые 6 часов."
        }
    ]
}