[Unit]
Description=Telegram Cron Reminder Web App
After=network.target

[Service]
Type=simple
User=your_user # Замените на вашего пользователя
Group=your_group # Замените на вашу группу
WorkingDirectory=/path/to/your/project # Путь к вашему проекту
ExecStart=/opt/TELEGRAM-CRON/web_prod.sh
Restart=always
Environment="ROOT=/opt/TELEGRAM-CRON"
Environment="FLASK_APP=wsgi:app"
Environment="PYTHONUNBUFFERED=1"


[Install]
WantedBy=multi-user.target


