<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление чатами</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.0/css/all.css" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h1>Чаты</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Chat ID</th>
                    <th scope="col">Действия</th>
                </tr>
           </thead>
            <tbody>
                {% for chat in chats %}
                <tr>
                    <td>{{ chat.id }}</td>
                    <td>{{ chat.name }}</td>
                    <td>{{ chat.chat_id }}</td>
                    <td>
                        <a href="{{ url_for('delete_this_chat', chat_id=chat.id) }}" class="btn btn-danger btn-sm" title="Удалить" onclick="return confirm('Удалить этот чат?   Связанные расписания тоже будут удалены!');">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
               </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Добавить чат</h2>
        <form method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Название:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="chat_id" class="form-label">Chat ID:</label>
                <input type="text" class="form-control" id="chat_id" name="chat_id" required>
            </div>
            <button type="submit" class="btn btn-warning"><i class="fas fa-plus"></i> Добавить</button>
            <a href="/" class="btn btn-primary">
                <i class="fas fa-backward fa-xl" style="color: #FFD43B;"></i>&nbsp;
                Вернуться к списку расписаний</a>
         
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
